/* GLYPHICONS 1.9.2 */

@font-face {
    font-family: 'Glyphicons Regular';
    src: url('../fonts/glyphicons-regular.woff2') format('woff2'), url('../fonts/glyphicons-regular.woff') format('woff');
}

[class*="glyphicons-"] {
    /*position: relative;*/
    top: 4px;
    display: inline-block;
    font-family: 'Glyphicons Regular';
    font-style: normal;
    font-weight: normal;
    line-height: 1px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 16px;
}

.glyphicons-spin {
    animation: glyphicons-spin 2s infinite linear;
}

@keyframes glyphicons-spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(359deg);
    }
}

.glyphicons-flip {
    transform: scaleX(-1);
}

.glyphicons-flipv {
    transform: scaleY(-1);
}

.glyphicons-rotate90 {
    transform: rotate(90deg);
}

.glyphicons-rotate180 {
    transform: rotate(180deg);
}

.glyphicons-rotate270 {
    transform: rotate(270deg);
}

.glyphicons-glass:before {
    content: "\e001";
}

.glyphicons-leaf:before {
    content: "\e002";
}

.glyphicons-dog:before {
    content: "\e003";
}

.glyphicons-user:before {
    content: "\e004";
}

.glyphicons-girl:before {
    content: "\e005";
}

.glyphicons-car:before {
    content: "\e006";
}

.glyphicons-user-add:before {
    content: "\e007";
}

.glyphicons-user-remove:before {
    content: "\e008";
}

.glyphicons-film:before {
    content: "\e009";
}

.glyphicons-magic:before {
    content: "\e010";
}

.glyphicons-envelope:before {
    content: "\e011";
}

.glyphicons-camera:before {
    content: "\e012";
}

.glyphicons-heart:before {
    content: "\e013";
}

.glyphicons-beach-umbrella:before {
    content: "\e014";
}

.glyphicons-train:before {
    content: "\e015";
}

.glyphicons-print:before {
    content: "\e016";
}

.glyphicons-bin:before {
    content: "\e017";
}

.glyphicons-music:before {
    content: "\e018";
}

.glyphicons-music-alt:before {
    content: "\e019";
}

.glyphicons-heart-empty:before {
    content: "\e020";
}

.glyphicons-home:before {
    content: "\e021";
}

.glyphicons-snowflake:before {
    content: "\e022";
}

.glyphicons-fire:before {
    content: "\e023";
}

.glyphicons-magnet:before {
    content: "\e024";
}

.glyphicons-parents:before {
    content: "\e025";
}

.glyphicons-binoculars:before {
    content: "\e026";
}

.glyphicons-road:before {
    content: "\e027";
}

.glyphicons-search:before {
    content: "\e028";
}

.glyphicons-cars:before {
    content: "\e029";
}

.glyphicons-notes-2:before {
    content: "\e030";
}

.glyphicons-pencil:before {
    content: "\e031";
}

.glyphicons-bus:before {
    content: "\e032";
}

.glyphicons-wifi-alt:before {
    content: "\e033";
}

.glyphicons-luggage:before {
    content: "\e034";
}

.glyphicons-old-man:before {
    content: "\e035";
}

.glyphicons-woman:before {
    content: "\e036";
}

.glyphicons-file:before {
    content: "\e037";
}

.glyphicons-coins:before {
    content: "\e038";
}

.glyphicons-plane:before {
    content: "\e039";
}

.glyphicons-notes:before {
    content: "\e040";
}

.glyphicons-stats:before {
    content: "\e041";
}

.glyphicons-charts:before {
    content: "\e042";
}

.glyphicons-pie-chart:before {
    content: "\e043";
}

.glyphicons-group:before {
    content: "\e044";
}

.glyphicons-keys:before {
    content: "\e045";
}

.glyphicons-calendar:before {
    content: "\e046";
}

.glyphicons-router:before {
    content: "\e047";
}

.glyphicons-camera-small:before {
    content: "\e048";
}

.glyphicons-star-empty:before {
    content: "\e049";
}

.glyphicons-star:before {
    content: "\e050";
}

.glyphicons-link:before {
    content: "\e051";
}

.glyphicons-eye-open:before {
    content: "\e052";
}

.glyphicons-eye-close:before {
    content: "\e053";
}

.glyphicons-alarm:before {
    content: "\e054";
}

.glyphicons-clock:before {
    content: "\e055";
}

.glyphicons-stopwatch:before {
    content: "\e056";
}

.glyphicons-projector:before {
    content: "\e057";
}

.glyphicons-history:before {
    content: "\e058";
}

.glyphicons-truck:before {
    content: "\e059";
}

.glyphicons-cargo:before {
    content: "\e060";
}

.glyphicons-compass:before {
    content: "\e061";
}

.glyphicons-keynote:before {
    content: "\e062";
}

.glyphicons-paperclip:before {
    content: "\e063";
}

.glyphicons-power:before {
    content: "\e064";
}

.glyphicons-lightbulb:before {
    content: "\e065";
}

.glyphicons-tag:before {
    content: "\e066";
}

.glyphicons-tags:before {
    content: "\e067";
}

.glyphicons-cleaning:before {
    content: "\e068";
}

.glyphicons-ruler:before {
    content: "\e069";
}

.glyphicons-gift:before {
    content: "\e070";
}

.glyphicons-umbrella:before {
    content: "\e071";
}

.glyphicons-book:before {
    content: "\e072";
}

.glyphicons-bookmark:before {
    content: "\e073";
}

.glyphicons-wifi:before {
    content: "\e074";
}

.glyphicons-cup:before {
    content: "\e075";
}

.glyphicons-stroller:before {
    content: "\e076";
}

.glyphicons-headphones:before {
    content: "\e077";
}

.glyphicons-headset:before {
    content: "\e078";
}

.glyphicons-warning-sign:before {
    content: "\e079";
}

.glyphicons-signal:before {
    content: "\e080";
}

.glyphicons-retweet:before {
    content: "\e081";
}

.glyphicons-refresh:before {
    content: "\e082";
}

.glyphicons-roundabout:before {
    content: "\e083";
}

.glyphicons-random:before {
    content: "\e084";
}

.glyphicons-heat:before {
    content: "\e085";
}

.glyphicons-repeat:before {
    content: "\e086";
}

.glyphicons-display:before {
    content: "\e087";
}

.glyphicons-log-book:before {
    content: "\e088";
}

.glyphicons-address-book:before {
    content: "\e089";
}

.glyphicons-building:before {
    content: "\e090";
}

.glyphicons-eyedropper:before {
    content: "\e091";
}

.glyphicons-adjust:before {
    content: "\e092";
}

.glyphicons-tint:before {
    content: "\e093";
}

.glyphicons-crop:before {
    content: "\e094";
}

.glyphicons-vector-path-square:before {
    content: "\e095";
}

.glyphicons-vector-path-circle:before {
    content: "\e096";
}

.glyphicons-vector-path-polygon:before {
    content: "\e097";
}

.glyphicons-vector-path-line:before {
    content: "\e098";
}

.glyphicons-vector-path-curve:before {
    content: "\e099";
}

.glyphicons-vector-path-all:before {
    content: "\e100";
}

.glyphicons-font:before {
    content: "\e101";
}

.glyphicons-italic:before {
    content: "\e102";
}

.glyphicons-bold:before {
    content: "\e103";
}

.glyphicons-text-underline:before {
    content: "\e104";
}

.glyphicons-text-strike:before {
    content: "\e105";
}

.glyphicons-text-height:before {
    content: "\e106";
}

.glyphicons-text-width:before {
    content: "\e107";
}

.glyphicons-text-resize:before {
    content: "\e108";
}

.glyphicons-left-indent:before {
    content: "\e109";
}

.glyphicons-right-indent:before {
    content: "\e110";
}

.glyphicons-align-left:before {
    content: "\e111";
}

.glyphicons-align-center:before {
    content: "\e112";
}

.glyphicons-align-right:before {
    content: "\e113";
}

.glyphicons-justify:before {
    content: "\e114";
}

.glyphicons-list:before {
    content: "\e115";
}

.glyphicons-text-smaller:before {
    content: "\e116";
}

.glyphicons-text-bigger:before {
    content: "\e117";
}

.glyphicons-embed:before {
    content: "\e118";
}

.glyphicons-embed-close:before {
    content: "\e119";
}

.glyphicons-table:before {
    content: "\e120";
}

.glyphicons-message-full:before {
    content: "\e121";
}

.glyphicons-message-empty:before {
    content: "\e122";
}

.glyphicons-message-in:before {
    content: "\e123";
}

.glyphicons-message-out:before {
    content: "\e124";
}

.glyphicons-message-plus:before {
    content: "\e125";
}

.glyphicons-message-minus:before {
    content: "\e126";
}

.glyphicons-message-ban:before {
    content: "\e127";
}

.glyphicons-message-flag:before {
    content: "\e128";
}

.glyphicons-message-lock:before {
    content: "\e129";
}

.glyphicons-message-new:before {
    content: "\e130";
}

.glyphicons-inbox:before {
    content: "\e131";
}

.glyphicons-inbox-plus:before {
    content: "\e132";
}

.glyphicons-inbox-minus:before {
    content: "\e133";
}

.glyphicons-inbox-lock:before {
    content: "\e134";
}

.glyphicons-inbox-in:before {
    content: "\e135";
}

.glyphicons-inbox-out:before {
    content: "\e136";
}

.glyphicons-cogwheel:before {
    content: "\e137";
}

.glyphicons-cogwheels:before {
    content: "\e138";
}

.glyphicons-picture:before {
    content: "\e139";
}

.glyphicons-adjust-alt:before {
    content: "\e140";
}

.glyphicons-database-lock:before {
    content: "\e141";
}

.glyphicons-database-plus:before {
    content: "\e142";
}

.glyphicons-database-minus:before {
    content: "\e143";
}

.glyphicons-database-ban:before {
    content: "\e144";
}

.glyphicons-folder-open:before {
    content: "\e145";
}

.glyphicons-folder-plus:before {
    content: "\e146";
}

.glyphicons-folder-minus:before {
    content: "\e147";
}

.glyphicons-folder-lock:before {
    content: "\e148";
}

.glyphicons-folder-flag:before {
    content: "\e149";
}

.glyphicons-folder-new:before {
    content: "\e150";
}

.glyphicons-edit:before {
    content: "\e151";
}

.glyphicons-new-window:before {
    content: "\e152";
}

.glyphicons-check:before {
    content: "\e153";
}

.glyphicons-unchecked:before {
    content: "\e154";
}

.glyphicons-more-windows:before {
    content: "\e155";
}

.glyphicons-show-big-thumbnails:before {
    content: "\e156";
}

.glyphicons-show-thumbnails:before {
    content: "\e157";
}

.glyphicons-show-thumbnails-with-lines:before {
    content: "\e158";
}

.glyphicons-show-lines:before {
    content: "\e159";
}

.glyphicons-playlist:before {
    content: "\e160";
}

.glyphicons-imac:before {
    content: "\e161";
}

.glyphicons-macbook:before {
    content: "\e162";
}

.glyphicons-ipad:before {
    content: "\e163";
}

.glyphicons-iphone:before {
    content: "\e164";
}

.glyphicons-iphone-transfer:before {
    content: "\e165";
}

.glyphicons-iphone-exchange:before {
    content: "\e166";
}

.glyphicons-ipod:before {
    content: "\e167";
}

.glyphicons-ipod-shuffle:before {
    content: "\e168";
}

.glyphicons-ear-plugs:before {
    content: "\e169";
}

.glyphicons-record:before {
    content: "\e170";
}

.glyphicons-step-backward:before {
    content: "\e171";
}

.glyphicons-fast-backward:before {
    content: "\e172";
}

.glyphicons-rewind:before {
    content: "\e173";
}

.glyphicons-play:before {
    content: "\e174";
}

.glyphicons-pause:before {
    content: "\e175";
}

.glyphicons-stop:before {
    content: "\e176";
}

.glyphicons-forward:before {
    content: "\e177";
}

.glyphicons-fast-forward:before {
    content: "\e178";
}

.glyphicons-step-forward:before {
    content: "\e179";
}

.glyphicons-eject:before {
    content: "\e180";
}

.glyphicons-facetime-video:before {
    content: "\e181";
}

.glyphicons-download-alt:before {
    content: "\e182";
}

.glyphicons-mute:before {
    content: "\e183";
}

.glyphicons-volume-down:before {
    content: "\e184";
}

.glyphicons-volume-up:before {
    content: "\e185";
}

.glyphicons-screenshot:before {
    content: "\e186";
}

.glyphicons-move:before {
    content: "\e187";
}

.glyphicons-more:before {
    content: "\e188";
}

.glyphicons-brightness-reduce:before {
    content: "\e189";
}

.glyphicons-brightness-increase:before {
    content: "\e190";
}

.glyphicons-plus-sign:before {
    content: "\e191";
}

.glyphicons-minus-sign:before {
    content: "\e192";
}

.glyphicons-remove-sign:before {
    content: "\e193";
}

.glyphicons-ok-sign:before {
    content: "\e194";
}

.glyphicons-question-sign:before {
    content: "\e195";
}

.glyphicons-info-sign:before {
    content: "\e196";
}

.glyphicons-exclamation-sign:before {
    content: "\e197";
}

.glyphicons-remove-circle:before {
    content: "\e198";
}

.glyphicons-ok-circle:before {
    content: "\e199";
}

.glyphicons-ban-circle:before {
    content: "\e200";
}

.glyphicons-download:before {
    content: "\e201";
}

.glyphicons-upload:before {
    content: "\e202";
}

.glyphicons-shopping-cart:before {
    content: "\e203";
}

.glyphicons-lock:before {
    content: "\e204";
}

.glyphicons-unlock:before {
    content: "\e205";
}

.glyphicons-electricity:before {
    content: "\e206";
}

.glyphicons-ok:before {
    content: "\e207";
}

.glyphicons-remove:before {
    content: "\e208";
}

.glyphicons-cart-in:before {
    content: "\e209";
}

.glyphicons-cart-out:before {
    content: "\e210";
}

.glyphicons-arrow-left:before {
    content: "\e211";
}

.glyphicons-arrow-right:before {
    content: "\e212";
}

.glyphicons-arrow-down:before {
    content: "\e213";
}

.glyphicons-arrow-up:before {
    content: "\e214";
}

.glyphicons-resize-small:before {
    content: "\e215";
}

.glyphicons-resize-full:before {
    content: "\e216";
}

.glyphicons-circle-arrow-left:before {
    content: "\e217";
}

.glyphicons-circle-arrow-right:before {
    content: "\e218";
}

.glyphicons-circle-arrow-top:before {
    content: "\e219";
}

.glyphicons-circle-arrow-down:before {
    content: "\e220";
}

.glyphicons-play-button:before {
    content: "\e221";
}

.glyphicons-unshare:before {
    content: "\e222";
}

.glyphicons-share:before {
    content: "\e223";
}

.glyphicons-chevron-right:before {
    content: "\e224";
}

.glyphicons-chevron-left:before {
    content: "\e225";
}

.glyphicons-bluetooth:before {
    content: "\e226";
}

.glyphicons-euro:before {
    content: "\e227";
}

.glyphicons-usd:before {
    content: "\e228";
}

.glyphicons-gbp:before {
    content: "\e229";
}

.glyphicons-retweet-2:before {
    content: "\e230";
}

.glyphicons-moon:before {
    content: "\e231";
}

.glyphicons-sun:before {
    content: "\e232";
}

.glyphicons-cloud:before {
    content: "\e233";
}

.glyphicons-direction:before {
    content: "\e234";
}

.glyphicons-brush:before {
    content: "\e235";
}

.glyphicons-pen:before {
    content: "\e236";
}

.glyphicons-zoom-in:before {
    content: "\e237";
}

.glyphicons-zoom-out:before {
    content: "\e238";
}

.glyphicons-pin:before {
    content: "\e239";
}

.glyphicons-albums:before {
    content: "\e240";
}

.glyphicons-rotation-lock:before {
    content: "\e241";
}

.glyphicons-flash:before {
    content: "\e242";
}

.glyphicons-map-marker:before {
    content: "\e243";
}

.glyphicons-anchor:before {
    content: "\e244";
}

.glyphicons-conversation:before {
    content: "\e245";
}

.glyphicons-chat:before {
    content: "\e246";
}

.glyphicons-note-empty:before {
    content: "\e247";
}

.glyphicons-note:before {
    content: "\e248";
}

.glyphicons-asterisk:before {
    content: "\e249";
}

.glyphicons-divide:before {
    content: "\e250";
}

.glyphicons-snorkel-diving:before {
    content: "\e251";
}

.glyphicons-scuba-diving:before {
    content: "\e252";
}

.glyphicons-oxygen-bottle:before {
    content: "\e253";
}

.glyphicons-fins:before {
    content: "\e254";
}

.glyphicons-fishes:before {
    content: "\e255";
}

.glyphicons-boat:before {
    content: "\e256";
}

.glyphicons-delete:before {
    content: "\e257";
}

.glyphicons-sheriffs-star:before {
    content: "\e258";
}

.glyphicons-qrcode:before {
    content: "\e259";
}

.glyphicons-barcode:before {
    content: "\e260";
}

.glyphicons-pool:before {
    content: "\e261";
}

.glyphicons-buoy:before {
    content: "\e262";
}

.glyphicons-spade:before {
    content: "\e263";
}

.glyphicons-bank:before {
    content: "\e264";
}

.glyphicons-vcard:before {
    content: "\e265";
}

.glyphicons-electrical-plug:before {
    content: "\e266";
}

.glyphicons-flag:before {
    content: "\e267";
}

.glyphicons-credit-card:before {
    content: "\e268";
}

.glyphicons-keyboard-wireless:before {
    content: "\e269";
}

.glyphicons-keyboard-wireless:before {
    content: "\e270";
}

.glyphicons-shield:before {
    content: "\e271";
}

.glyphicons-ring:before {
    content: "\e272";
}

.glyphicons-cake:before {
    content: "\e273";
}

.glyphicons-drink:before {
    content: "\e274";
}

.glyphicons-beer:before {
    content: "\e275";
}

.glyphicons-fast-food:before {
    content: "\e276";
}

.glyphicons-cutlery:before {
    content: "\e277";
}

.glyphicons-pizza:before {
    content: "\e278";
}

.glyphicons-birthday-cake:before {
    content: "\e279";
}

.glyphicons-tablet:before {
    content: "\e280";
}

.glyphicons-settings:before {
    content: "\e281";
}

.glyphicons-bullets:before {
    content: "\e282";
}

.glyphicons-cardio:before {
    content: "\e283";
}

.glyphicons-t-shirt:before {
    content: "\e284";
}

.glyphicons-pants:before {
    content: "\e285";
}

.glyphicons-sweater:before {
    content: "\e286";
}

.glyphicons-fabric:before {
    content: "\e287";
}

.glyphicons-leather:before {
    content: "\e288";
}

.glyphicons-scissors:before {
    content: "\e289";
}

.glyphicons-bomb:before {
    content: "\e290";
}

.glyphicons-skull:before {
    content: "\e291";
}

.glyphicons-celebration:before {
    content: "\e292";
}

.glyphicons-tea-kettle:before {
    content: "\e293";
}

.glyphicons-french-press:before {
    content: "\e294";
}

.glyphicons-coffee-cup:before {
    content: "\e295";
}

.glyphicons-pot:before {
    content: "\e296";
}

.glyphicons-grater:before {
    content: "\e297";
}

.glyphicons-kettle:before {
    content: "\e298";
}

.glyphicons-hospital:before {
    content: "\e299";
}

.glyphicons-hospital-h:before {
    content: "\e300";
}

.glyphicons-microphone:before {
    content: "\e301";
}

.glyphicons-webcam:before {
    content: "\e302";
}

.glyphicons-temple-christianity-church:before {
    content: "\e303";
}

.glyphicons-temple-islam:before {
    content: "\e304";
}

.glyphicons-temple-hindu:before {
    content: "\e305";
}

.glyphicons-temple-buddhist:before {
    content: "\e306";
}

.glyphicons-bicycle:before {
    content: "\e307";
}

.glyphicons-life-preserver:before {
    content: "\e308";
}

.glyphicons-share-alt:before {
    content: "\e309";
}

.glyphicons-comments:before {
    content: "\e310";
}

.glyphicons-flower:before {
    content: "\e311";
}

.glyphicons-baseball:before {
    content: "\e312";
}

.glyphicons-rugby:before {
    content: "\e313";
}

.glyphicons-ax:before {
    content: "\e314";
}

.glyphicons-table-tennis:before {
    content: "\e315";
}

.glyphicons-bowling:before {
    content: "\e316";
}

.glyphicons-tree-conifer:before {
    content: "\e317";
}

.glyphicons-tree-deciduous:before {
    content: "\e318";
}

.glyphicons-more-items:before {
    content: "\e319";
}

.glyphicons-sort:before {
    content: "\e320";
}

.glyphicons-filter:before {
    content: "\e321";
}

.glyphicons-gamepad:before {
    content: "\e322";
}

.glyphicons-playing-dices:before {
    content: "\e323";
}

.glyphicons-calculator:before {
    content: "\e324";
}

.glyphicons-tie:before {
    content: "\e325";
}

.glyphicons-wallet:before {
    content: "\e326";
}

.glyphicons-piano:before {
    content: "\e327";
}

.glyphicons-sampler:before {
    content: "\e328";
}

.glyphicons-podium:before {
    content: "\e329";
}

.glyphicons-soccer-ball:before {
    content: "\e330";
}

.glyphicons-blog:before {
    content: "\e331";
}

.glyphicons-dashboard:before {
    content: "\e332";
}

.glyphicons-certificate:before {
    content: "\e333";
}

.glyphicons-bell:before {
    content: "\e334";
}

.glyphicons-candle:before {
    content: "\e335";
}

.glyphicons-pushpin:before {
    content: "\e336";
}

.glyphicons-iphone-shake:before {
    content: "\e337";
}

.glyphicons-pin-flag:before {
    content: "\e338";
}

.glyphicons-turtle:before {
    content: "\e339";
}

.glyphicons-rabbit:before {
    content: "\e340";
}

.glyphicons-globe:before {
    content: "\e341";
}

.glyphicons-briefcase:before {
    content: "\e342";
}

.glyphicons-hdd:before {
    content: "\e343";
}

.glyphicons-thumbs-up:before {
    content: "\e344";
}

.glyphicons-thumbs-down:before {
    content: "\e345";
}

.glyphicons-hand-right:before {
    content: "\e346";
}

.glyphicons-hand-left:before {
    content: "\e347";
}

.glyphicons-hand-up:before {
    content: "\e348";
}

.glyphicons-hand-down:before {
    content: "\e349";
}

.glyphicons-fullscreen:before {
    content: "\e350";
}

.glyphicons-shopping-bag:before {
    content: "\e351";
}

.glyphicons-book-open:before {
    content: "\e352";
}

.glyphicons-nameplate:before {
    content: "\e353";
}

.glyphicons-nameplate-alt:before {
    content: "\e354";
}

.glyphicons-vases:before {
    content: "\e355";
}

.glyphicons-bullhorn:before {
    content: "\e356";
}

.glyphicons-dumbbell:before {
    content: "\e357";
}

.glyphicons-suitcase:before {
    content: "\e358";
}

.glyphicons-file-import:before {
    content: "\e359";
}

.glyphicons-file-export:before {
    content: "\e360";
}

.glyphicons-bug:before {
    content: "\e361";
}

.glyphicons-crown:before {
    content: "\e362";
}

.glyphicons-smoking:before {
    content: "\e363";
}

.glyphicons-cloud-upload:before {
    content: "\e364";
}

.glyphicons-cloud-download:before {
    content: "\e365";
}

.glyphicons-restart:before {
    content: "\e366";
}

.glyphicons-security-camera:before {
    content: "\e367";
}

.glyphicons-expand:before {
    content: "\e368";
}

.glyphicons-collapse:before {
    content: "\e369";
}

.glyphicons-collapse-top:before {
    content: "\e370";
}

.glyphicons-globe-af:before {
    content: "\e371";
}

.glyphicons-global:before {
    content: "\e372";
}

.glyphicons-spray:before {
    content: "\e373";
}

.glyphicons-nails:before {
    content: "\e374";
}

.glyphicons-claw-hammer:before {
    content: "\e375";
}

.glyphicons-classic-hammer:before {
    content: "\e376";
}

.glyphicons-hand-saw:before {
    content: "\e377";
}

.glyphicons-riflescope:before {
    content: "\e378";
}

.glyphicons-electrical-socket-eu:before {
    content: "\e379";
}

.glyphicons-electrical-socket-us:before {
    content: "\e380";
}

.glyphicons-message-forward:before {
    content: "\e381";
}

.glyphicons-coat-hanger:before {
    content: "\e382";
}

.glyphicons-dress:before {
    content: "\e383";
}

.glyphicons-bathrobe:before {
    content: "\e384";
}

.glyphicons-shirt:before {
    content: "\e385";
}

.glyphicons-underwear:before {
    content: "\e386";
}

.glyphicons-log-in:before {
    content: "\e387";
}

.glyphicons-log-out:before {
    content: "\e388";
}

.glyphicons-exit:before {
    content: "\e389";
}

.glyphicons-new-window-alt:before {
    content: "\e390";
}

.glyphicons-video-sd:before {
    content: "\e391";
}

.glyphicons-video-hd:before {
    content: "\e392";
}

.glyphicons-subtitles:before {
    content: "\e393";
}

.glyphicons-sound-stereo:before {
    content: "\e394";
}

.glyphicons-sound-dolby:before {
    content: "\e395";
}

.glyphicons-sound-5-1:before {
    content: "\e396";
}

.glyphicons-sound-6-1:before {
    content: "\e397";
}

.glyphicons-sound-7-1:before {
    content: "\e398";
}

.glyphicons-copyright-mark:before {
    content: "\e399";
}

.glyphicons-registration-mark:before {
    content: "\e400";
}

.glyphicons-radar:before {
    content: "\e401";
}

.glyphicons-skateboard:before {
    content: "\e402";
}

.glyphicons-golf-course:before {
    content: "\e403";
}

.glyphicons-sorting:before {
    content: "\e404";
}

.glyphicons-sort-by-alphabet:before {
    content: "\e405";
}

.glyphicons-sort-by-alphabet-alt:before {
    content: "\e406";
}

.glyphicons-sort-by-order:before {
    content: "\e407";
}

.glyphicons-sort-by-order-alt:before {
    content: "\e408";
}

.glyphicons-sort-by-attributes:before {
    content: "\e409";
}

.glyphicons-sort-by-attributes-alt:before {
    content: "\e410";
}

.glyphicons-compressed:before {
    content: "\e411";
}

.glyphicons-package:before {
    content: "\e412";
}

.glyphicons-cloud-plus:before {
    content: "\e413";
}

.glyphicons-cloud-minus:before {
    content: "\e414";
}

.glyphicons-disk-save:before {
    content: "\e415";
}

.glyphicons-disk-open:before {
    content: "\e416";
}

.glyphicons-disk-saved:before {
    content: "\e417";
}

.glyphicons-disk-remove:before {
    content: "\e418";
}

.glyphicons-disk-import:before {
    content: "\e419";
}

.glyphicons-disk-export:before {
    content: "\e420";
}

.glyphicons-tower:before {
    content: "\e421";
}

.glyphicons-send:before {
    content: "\e422";
}

.glyphicons-git-branch:before {
    content: "\e423";
}

.glyphicons-git-create:before {
    content: "\e424";
}

.glyphicons-git-private:before {
    content: "\e425";
}

.glyphicons-git-delete:before {
    content: "\e426";
}

.glyphicons-git-merge:before {
    content: "\e427";
}

.glyphicons-git-pull-request:before {
    content: "\e428";
}

.glyphicons-git-compare:before {
    content: "\e429";
}

.glyphicons-git-commit:before {
    content: "\e430";
}

.glyphicons-construction-cone:before {
    content: "\e431";
}

.glyphicons-shoe-steps:before {
    content: "\e432";
}

.glyphicons-plus:before {
    content: "\e433";
}

.glyphicons-minus:before {
    content: "\e434";
}

.glyphicons-redo:before {
    content: "\e435";
}

.glyphicons-undo:before {
    content: "\e436";
}

.glyphicons-golf:before {
    content: "\e437";
}

.glyphicons-hockey:before {
    content: "\e438";
}

.glyphicons-pipe:before {
    content: "\e439";
}

.glyphicons-wrench:before {
    content: "\e440";
}

.glyphicons-folder-closed:before {
    content: "\e441";
}

.glyphicons-phone-alt:before {
    content: "\e442";
}

.glyphicons-earphone:before {
    content: "\e443";
}

.glyphicons-floppy-disk:before {
    content: "\e444";
}

.glyphicons-floppy-saved:before {
    content: "\e445";
}

.glyphicons-floppy-remove:before {
    content: "\e446";
}

.glyphicons-floppy-save:before {
    content: "\e447";
}

.glyphicons-floppy-open:before {
    content: "\e448";
}

.glyphicons-translate:before {
    content: "\e449";
}

.glyphicons-fax:before {
    content: "\e450";
}

.glyphicons-factory:before {
    content: "\e451";
}

.glyphicons-shop-window:before {
    content: "\e452";
}

.glyphicons-shop:before {
    content: "\e453";
}

.glyphicons-kiosk:before {
    content: "\e454";
}

.glyphicons-kiosk-wheels:before {
    content: "\e455";
}

.glyphicons-kiosk-light:before {
    content: "\e456";
}

.glyphicons-kiosk-food:before {
    content: "\e457";
}

.glyphicons-transfer:before {
    content: "\e458";
}

.glyphicons-money:before {
    content: "\e459";
}

.glyphicons-header:before {
    content: "\e460";
}

.glyphicons-blacksmith:before {
    content: "\e461";
}

.glyphicons-saw-blade:before {
    content: "\e462";
}

.glyphicons-basketball:before {
    content: "\e463";
}

.glyphicons-server:before {
    content: "\e464";
}

.glyphicons-server-plus:before {
    content: "\e465";
}

.glyphicons-server-minus:before {
    content: "\e466";
}

.glyphicons-server-ban:before {
    content: "\e467";
}

.glyphicons-server-flag:before {
    content: "\e468";
}

.glyphicons-server-lock:before {
    content: "\e469";
}

.glyphicons-server-new:before {
    content: "\e470";
}

.glyphicons-charging-station:before {
    content: "\e471";
}

.glyphicons-gas-station:before {
    content: "\e472";
}

.glyphicons-target:before {
    content: "\e473";
}

.glyphicons-bed:before {
    content: "\e474";
}

.glyphicons-mosquito:before {
    content: "\e475";
}

.glyphicons-dining-set:before {
    content: "\e476";
}

.glyphicons-plate-of-food:before {
    content: "\e477";
}

.glyphicons-hygiene-kit:before {
    content: "\e478";
}

.glyphicons-blackboard:before {
    content: "\e479";
}

.glyphicons-marriage:before {
    content: "\e480";
}

.glyphicons-bucket:before {
    content: "\e481";
}

.glyphicons-none-color-swatch:before {
    content: "\e482";
}

.glyphicons-bring-forward:before {
    content: "\e483";
}

.glyphicons-bring-to-front:before {
    content: "\e484";
}

.glyphicons-send-backward:before {
    content: "\e485";
}

.glyphicons-send-to-back:before {
    content: "\e486";
}

.glyphicons-fit-frame-to-image:before {
    content: "\e487";
}

.glyphicons-fit-image-to-frame:before {
    content: "\e488";
}

.glyphicons-multiple-displays:before {
    content: "\e489";
}

.glyphicons-handshake:before {
    content: "\e490";
}

.glyphicons-child:before {
    content: "\e491";
}

.glyphicons-baby-formula:before {
    content: "\e492";
}

.glyphicons-medicine:before {
    content: "\e493";
}

.glyphicons-atv-vehicle:before {
    content: "\e494";
}

.glyphicons-motorcycle:before {
    content: "\e495";
}

.glyphicons-bed-alt:before {
    content: "\e496";
}

.glyphicons-tent:before {
    content: "\e497";
}

.glyphicons-glasses:before {
    content: "\e498";
}

.glyphicons-sunglasses:before {
    content: "\e499";
}

.glyphicons-family:before {
    content: "\e500";
}

.glyphicons-education:before {
    content: "\e501";
}

.glyphicons-shoes:before {
    content: "\e502";
}

.glyphicons-map:before {
    content: "\e503";
}

.glyphicons-cd:before {
    content: "\e504";
}

.glyphicons-alert:before {
    content: "\e505";
}

.glyphicons-piggy-bank:before {
    content: "\e506";
}

.glyphicons-star-half:before {
    content: "\e507";
}

.glyphicons-cluster:before {
    content: "\e508";
}

.glyphicons-flowchart:before {
    content: "\e509";
}

.glyphicons-commodities:before {
    content: "\e510";
}

.glyphicons-duplicate:before {
    content: "\e511";
}

.glyphicons-copy:before {
    content: "\e512";
}

.glyphicons-paste:before {
    content: "\e513";
}

.glyphicons-bath-bathtub:before {
    content: "\e514";
}

.glyphicons-bath-shower:before {
    content: "\e515";
}

.glyphicons-shower:before {
    content: "\e516";
}

.glyphicons-menu-hamburger:before {
    content: "\e517";
}

.glyphicons-option-vertical:before {
    content: "\e518";
}

.glyphicons-option-horizontal:before {
    content: "\e519";
}

.glyphicons-currency-conversion:before {
    content: "\e520";
}

.glyphicons-user-ban:before {
    content: "\e521";
}

.glyphicons-user-lock:before {
    content: "\e522";
}

.glyphicons-user-flag:before {
    content: "\e523";
}

.glyphicons-user-asterisk:before {
    content: "\e524";
}

.glyphicons-user-alert:before {
    content: "\e525";
}

.glyphicons-user-key:before {
    content: "\e526";
}

.glyphicons-user-conversation:before {
    content: "\e527";
}

.glyphicons-database:before {
    content: "\e528";
}

.glyphicons-database-search:before {
    content: "\e529";
}

.glyphicons-list-alt:before {
    content: "\e530";
}

.glyphicons-hazard-sign:before {
    content: "\e531";
}

.glyphicons-hazard:before {
    content: "\e532";
}

.glyphicons-stop-sign:before {
    content: "\e533";
}

.glyphicons-lab:before {
    content: "\e534";
}

.glyphicons-lab-alt:before {
    content: "\e535";
}

.glyphicons-ice-cream:before {
    content: "\e536";
}

.glyphicons-ice-lolly:before {
    content: "\e537";
}

.glyphicons-ice-lolly-tasted:before {
    content: "\e538";
}

.glyphicons-invoice:before {
    content: "\e539";
}

.glyphicons-cart-tick:before {
    content: "\e540";
}

.glyphicons-hourglass:before {
    content: "\e541";
}

.glyphicons-cat:before {
    content: "\e542";
}

.glyphicons-lamp:before {
    content: "\e543";
}

.glyphicons-scale-classic:before {
    content: "\e544";
}

.glyphicons-eye-plus:before {
    content: "\e545";
}

.glyphicons-eye-minus:before {
    content: "\e546";
}

.glyphicons-quote:before {
    content: "\e547";
}

.glyphicons-bitcoin:before {
    content: "\e548";
}

.glyphicons-yen:before {
    content: "\e549";
}

.glyphicons-ruble:before {
    content: "\e550";
}

.glyphicons-erase:before {
    content: "\e551";
}

.glyphicons-podcast:before {
    content: "\e552";
}

.glyphicons-firework:before {
    content: "\e553";
}

.glyphicons-scale:before {
    content: "\e554";
}

.glyphicons-king:before {
    content: "\e555";
}

.glyphicons-queen:before {
    content: "\e556";
}

.glyphicons-pawn:before {
    content: "\e557";
}

.glyphicons-bishop:before {
    content: "\e558";
}

.glyphicons-knight:before {
    content: "\e559";
}

.glyphicons-mic-mute:before {
    content: "\e560";
}

.glyphicons-voicemail:before {
    content: "\e561";
}

.glyphicons-paragraph-alt:before {
    content: "\e562";
}

.glyphicons-person-walking:before {
    content: "\e563";
}

.glyphicons-person-wheelchair:before {
    content: "\e564";
}

.glyphicons-underground:before {
    content: "\e565";
}

.glyphicons-car-hov:before {
    content: "\e566";
}

.glyphicons-car-rental:before {
    content: "\e567";
}

.glyphicons-transport:before {
    content: "\e568";
}

.glyphicons-taxi:before {
    content: "\e569";
}

.glyphicons-ice-cream-no:before {
    content: "\e570";
}

.glyphicons-uk-rat-u:before {
    content: "\e571";
}

.glyphicons-uk-rat-pg:before {
    content: "\e572";
}

.glyphicons-uk-rat-12a:before {
    content: "\e573";
}

.glyphicons-uk-rat-12:before {
    content: "\e574";
}

.glyphicons-uk-rat-15:before {
    content: "\e575";
}

.glyphicons-uk-rat-18:before {
    content: "\e576";
}

.glyphicons-uk-rat-r18:before {
    content: "\e577";
}

.glyphicons-tv:before {
    content: "\e578";
}

.glyphicons-sms:before {
    content: "\e579";
}

.glyphicons-mms:before {
    content: "\e580";
}

.glyphicons-us-rat-g:before {
    content: "\e581";
}

.glyphicons-us-rat-pg:before {
    content: "\e582";
}

.glyphicons-us-rat-pg-13:before {
    content: "\e583";
}

.glyphicons-us-rat-restricted:before {
    content: "\e584";
}

.glyphicons-us-rat-no-one-17:before {
    content: "\e585";
}

.glyphicons-equalizer:before {
    content: "\e586";
}

.glyphicons-speakers:before {
    content: "\e587";
}

.glyphicons-remote-control:before {
    content: "\e588";
}

.glyphicons-remote-control-tv:before {
    content: "\e589";
}

.glyphicons-shredder:before {
    content: "\e590";
}

.glyphicons-folder-heart:before {
    content: "\e591";
}

.glyphicons-person-running:before {
    content: "\e592";
}

.glyphicons-person:before {
    content: "\e593";
}

.glyphicons-voice:before {
    content: "\e594";
}

.glyphicons-stethoscope:before {
    content: "\e595";
}

.glyphicons-paired:before {
    content: "\e596";
}

.glyphicons-activity:before {
    content: "\e597";
}

.glyphicons-watch:before {
    content: "\e598";
}

.glyphicons-scissors-alt:before {
    content: "\e599";
}

.glyphicons-car-wheel:before {
    content: "\e600";
}

.glyphicons-chevron-up:before {
    content: "\e601";
}

.glyphicons-chevron-down:before {
    content: "\e602";
}

.glyphicons-superscript:before {
    content: "\e603";
}

.glyphicons-subscript:before {
    content: "\e604";
}

.glyphicons-text-size:before {
    content: "\e605";
}

.glyphicons-text-color:before {
    content: "\e606";
}

.glyphicons-text-background:before {
    content: "\e607";
}

.glyphicons-modal-window:before {
    content: "\e608";
}

.glyphicons-newspaper:before {
    content: "\e609";
}

.glyphicons-tractor:before {
    content: "\e610";
}

.glyphicons-camping:before {
    content: "\e611";
}

.glyphicons-camping-benches:before {
    content: "\e612";
}

.glyphicons-forest:before {
    content: "\e613";
}

.glyphicons-park:before {
    content: "\e614";
}

.glyphicons-field:before {
    content: "\e615";
}

.glyphicons-mountains:before {
    content: "\e616";
}

.glyphicons-fees-payments:before {
    content: "\e617";
}

.glyphicons-small-payments:before {
    content: "\e618";
}

.glyphicons-mixed-buildings:before {
    content: "\e619";
}

.glyphicons-industrial-zone:before {
    content: "\e620";
}

.glyphicons-visitor-tag:before {
    content: "\e621";
}

.glyphicons-businessman:before {
    content: "\e622";
}

.glyphicons-meditation:before {
    content: "\e623";
}

.glyphicons-bath:before {
    content: "\e624";
}

.glyphicons-donate:before {
    content: "\e625";
}

.glyphicons-sauna:before {
    content: "\e626";
}

.glyphicons-bedroom-nightstand:before {
    content: "\e627";
}

.glyphicons-bedroom-lamp:before {
    content: "\e628";
}

.glyphicons-doctor:before {
    content: "\e629";
}

.glyphicons-engineering-networks:before {
    content: "\e630";
}

.glyphicons-washing-machine:before {
    content: "\e631";
}

.glyphicons-dryer:before {
    content: "\e632";
}

.glyphicons-dishwasher:before {
    content: "\e633";
}

.glyphicons-luggage-group:before {
    content: "\e634";
}

.glyphicons-teenager:before {
    content: "\e635";
}

.glyphicons-person-stick:before {
    content: "\e636";
}

.glyphicons-person-stick-old:before {
    content: "\e637";
}

.glyphicons-traveler:before {
    content: "\e638";
}

.glyphicons-veteran:before {
    content: "\e639";
}

.glyphicons-group-chat:before {
    content: "\e640";
}

.glyphicons-elections:before {
    content: "\e641";
}

.glyphicons-law-justice:before {
    content: "\e642";
}

.glyphicons-judiciary:before {
    content: "\e643";
}

.glyphicons-house-fire:before {
    content: "\e644";
}

.glyphicons-firefighters:before {
    content: "\e645";
}

.glyphicons-police:before {
    content: "\e646";
}

.glyphicons-ambulance:before {
    content: "\e647";
}

.glyphicons-light-beacon:before {
    content: "\e648";
}

.glyphicons-important-day:before {
    content: "\e649";
}

.glyphicons-bike-park:before {
    content: "\e650";
}

.glyphicons-object-align-top:before {
    content: "\e651";
}

.glyphicons-object-align-bottom:before {
    content: "\e652";
}

.glyphicons-object-align-horizontal:before {
    content: "\e653";
}

.glyphicons-object-align-left:before {
    content: "\e654";
}

.glyphicons-object-align-vertical:before {
    content: "\e655";
}

.glyphicons-object-align-right:before {
    content: "\e656";
}

.glyphicons-reflect-y:before {
    content: "\e657";
}

.glyphicons-reflect-x:before {
    content: "\e658";
}

.glyphicons-tick:before {
    content: "\e659";
}

.glyphicons-lawnmower:before {
    content: "\e660";
}

.glyphicons-call-redirect:before {
    content: "\e661";
}

.glyphicons-call-ip:before {
    content: "\e662";
}

.glyphicons-call-record:before {
    content: "\e663";
}

.glyphicons-call-ringtone:before {
    content: "\e664";
}

.glyphicons-call-traffic:before {
    content: "\e665";
}

.glyphicons-call-hold:before {
    content: "\e666";
}

.glyphicons-call-incoming:before {
    content: "\e667";
}

.glyphicons-call-outgoing:before {
    content: "\e668";
}

.glyphicons-call-video:before {
    content: "\e669";
}

.glyphicons-call-missed:before {
    content: "\e670";
}

.glyphicons-theater:before {
    content: "\e671";
}

.glyphicons-heartbeat:before {
    content: "\e672";
}

.glyphicons-kettlebell:before {
    content: "\e673";
}

.glyphicons-fireplace:before {
    content: "\e674";
}

.glyphicons-street-lights:before {
    content: "\e675";
}

.glyphicons-pedestrian:before {
    content: "\e676";
}

.glyphicons-flood:before {
    content: "\e677";
}

.glyphicons-open-water:before {
    content: "\e678";
}

.glyphicons-for-sale:before {
    content: "\e679";
}

.glyphicons-dustbin:before {
    content: "\e680";
}

.glyphicons-door:before {
    content: "\e681";
}

.glyphicons-camp-fire:before {
    content: "\e682";
}

.glyphicons-fleur-de-lis:before {
    content: "\e683";
}

.glyphicons-temperature-settings:before {
    content: "\e684";
}

.glyphicons-article:before {
    content: "\e685";
}

.glyphicons-sunbath:before {
    content: "\e686";
}

.glyphicons-balanced-diet:before {
    content: "\e687";
}

.glyphicons-ticket:before {
    content: "\e688";
}

.glyphicons-parking-ticket:before {
    content: "\e689";
}

.glyphicons-parking-meter:before {
    content: "\e690";
}

.glyphicons-laptop:before {
    content: "\e691";
}

.glyphicons-tree-structure:before {
    content: "\e692";
}

.glyphicons-weather-warning:before {
    content: "\e693";
}

.glyphicons-temperature-low:before {
    content: "\e694";
}

.glyphicons-temperature-high:before {
    content: "\e695";
}

.glyphicons-temperature-low-warning:before {
    content: "\e696";
}

.glyphicons-temperature-high-warning:before {
    content: "\e697";
}

.glyphicons-hurricane:before {
    content: "\e698";
}

.glyphicons-storm:before {
    content: "\e699";
}

.glyphicons-sorted-waste:before {
    content: "\e700";
}

.glyphicons-ear:before {
    content: "\e701";
}

.glyphicons-ear-deaf:before {
    content: "\e702";
}

.glyphicons-file-plus:before {
    content: "\e703";
}

.glyphicons-file-minus:before {
    content: "\e704";
}

.glyphicons-file-lock:before {
    content: "\e705";
}

.glyphicons-file-cloud:before {
    content: "\e706";
}

.glyphicons-file-cloud-download:before {
    content: "\e707";
}

.glyphicons-file-cloud-upload:before {
    content: "\e708";
}

.glyphicons-paragraph:before {
    content: "\e709";
}

.glyphicons-list-numbered:before {
    content: "\e710";
}

.glyphicons-donate-heart:before {
    content: "\e711";
}

.glyphicons-government:before {
    content: "\e712";
}

.glyphicons-maze:before {
    content: "\e713";
}

.glyphicons-chronicle:before {
    content: "\e714";
}

.glyphicons-user-structure:before {
    content: "\e715";
}

.glyphicons-recycle:before {
    content: "\e716";
}

.glyphicons-gas:before {
    content: "\e717";
}

.glyphicons-waste-pipe:before {
    content: "\e718";
}

.glyphicons-water-pipe:before {
    content: "\e719";
}

.glyphicons-parking:before {
    content: "\e720";
}

.glyphicons-closed:before {
    content: "\e721";
}

.glyphicons-mouse:before {
    content: "\e722";
}

.glyphicons-mouse-double-click:before {
    content: "\e723";
}

.glyphicons-mouse-left-click:before {
    content: "\e724";
}

.glyphicons-mouse-right-click:before {
    content: "\e725";
}

.glyphicons-mouse-middle-click:before {
    content: "\e726";
}

.glyphicons-mouse-scroll:before {
    content: "\e727";
}

.glyphicons-resize-vertical:before {
    content: "\e728";
}

.glyphicons-resize-horizontal:before {
    content: "\e729";
}

.glyphicons-temperature:before {
    content: "\e730";
}

.glyphicons-puzzle:before {
    content: "\e731";
}

.glyphicons-puzzle-2:before {
    content: "\e732";
}

.glyphicons-puzzle-3:before {
    content: "\e733";
}

.glyphicons-nearby-square:before {
    content: "\e734";
}

.glyphicons-nearby-circle:before {
    content: "\e735";
}

.glyphicons-rotate-right:before {
    content: "\e736";
}

.glyphicons-rotate-left:before {
    content: "\e737";
}

.glyphicons-pictures:before {
    content: "\e738";
}

.glyphicons-photo-album:before {
    content: "\e739";
}

.glyphicons-cadastral-map:before {
    content: "\e740";
}

.glyphicons-fingerprint-scan:before {
    content: "\e741";
}

.glyphicons-fingerprint:before {
    content: "\e742";
}

.glyphicons-fingerprint-lock:before {
    content: "\e743";
}

.glyphicons-fingerprint-ok:before {
    content: "\e744";
}

.glyphicons-fingerprint-remove:before {
    content: "\e745";
}

.glyphicons-fingerprint-reload:before {
    content: "\e746";
}

.glyphicons-pending-notifications:before {
    content: "\e747";
}

.glyphicons-synchronization:before {
    content: "\e748";
}

.glyphicons-synchronization-ban:before {
    content: "\e749";
}

.glyphicons-hash:before {
    content: "\e750";
}

.glyphicons-gender-male:before {
    content: "\e751";
}

.glyphicons-gender-female:before {
    content: "\e752";
}

.glyphicons-gender-virgin-female:before {
    content: "\e753";
}

.glyphicons-gender-intersex:before {
    content: "\e754";
}

.glyphicons-gender-transgender:before {
    content: "\e755";
}

.glyphicons-gender-ori-lesbian:before {
    content: "\e756";
}

.glyphicons-gender-ori-gay:before {
    content: "\e757";
}

.glyphicons-gender-ori-hetero:before {
    content: "\e758";
}

.glyphicons-gender-other:before {
    content: "\e759";
}

.glyphicons-gender-unknown:before {
    content: "\e760";
}

.glyphicons-scanner:before {
    content: "\e761";
}

.glyphicons-multifunction-printer:before {
    content: "\e762";
}

.glyphicons-lasso:before {
    content: "\e763";
}

.glyphicons-view-360:before {
    content: "\e764";
}

.glyphicons-battery-charging:before {
    content: "\e765";
}

.glyphicons-battery-full:before {
    content: "\e766";
}

.glyphicons-battery-75:before {
    content: "\e767";
}

.glyphicons-battery-50:before {
    content: "\e768";
}

.glyphicons-battery-25:before {
    content: "\e769";
}

.glyphicons-battery-10:before {
    content: "\e770";
}

.glyphicons-satellite:before {
    content: "\e771";
}

.glyphicons-satellite-dish:before {
    content: "\e772";
}

.glyphicons-satellite-dish-alt:before {
    content: "\e773";
}

.glyphicons-auction:before {
    content: "\e774";
}

.glyphicons-directions:before {
    content: "\e775";
}

.glyphicons-race:before {
    content: "\e776";
}

.glyphicons-robot:before {
    content: "\e777";
}

.glyphicons-ruler-alt:before {
    content: "\e778";
}

.glyphicons-cube-empty:before {
    content: "\e779";
}

.glyphicons-cube-black:before {
    content: "\e780";
}

.glyphicons-move-square:before {
    content: "\e781";
}

.glyphicons-drop:before {
    content: "\e782";
}

.glyphicons-vr-headset:before {
    content: "\e783";
}

.glyphicons-vr-charging:before {
    content: "\e784";
}

.glyphicons-vr-low-battery:before {
    content: "\e785";
}

.glyphicons-vr-paired:before {
    content: "\e786";
}

.glyphicons-vr-settings:before {
    content: "\e787";
}

.glyphicons-vr-maintenance:before {
    content: "\e788";
}

.glyphicons-filter-remove:before {
    content: "\e789";
}

.glyphicons-filter-applied:before {
    content: "\e790";
}

.glyphicons-one-day:before {
    content: "\e791";
}

.glyphicons-user-vr:before {
    content: "\e792";
}

.glyphicons-user-vr-add:before {
    content: "\e793";
}

.glyphicons-user-vr-remove:before {
    content: "\e794";
}

.glyphicons-dice-1:before {
    content: "\e795";
}

.glyphicons-dice-2:before {
    content: "\e796";
}

.glyphicons-dice-3:before {
    content: "\e797";
}

.glyphicons-dice-4:before {
    content: "\e798";
}

.glyphicons-dice-5:before {
    content: "\e799";
}

.glyphicons-dice-6:before {
    content: "\e800";
}
