IF EXISTS(SELECT 1 FROM SYSOBJECTS WHERE NAME = 'spPermisoAgregar')
	DROP PROCEDURE [dbo].[spPermisoAgregar]
GO


-- =============================================
-- Author:	     Antonio Gonzalez
-- Create date:  06/06/2017
-- Description:	 Agregar permiso
-- History:		
-- <24/08/2017> <Antonio Gonzalez> <Actualizar permisos asociados al perfil de uno o todos los usuarios.>
-- <17-04-2018> <lk.centeno> <Se agrega un filtro a la consulta que obtiene los IdUsuarios que tienen el @pIdPerfil, para obtener
--							  solo aquellos que tienen unicamente los permisos del perfil, no más, ni menos.>
-- <13-06-2018> <lk.centeno> <Eliminar acciones que no se usan en este proyecto.>
-- =============================================
CREATE PROCEDURE [dbo].[spPermisoAgregar]
--@pIdUsuario INT = NULL,
  @pIdPerfil INT, 
  @pIdUsuarioActualiza INT

AS
BEGIN
  BEGIN TRY
  BEGIN TRAN
	
	-- ============================================= --
	-- DEFINICION de variables
	-- ============================================= --
	  DECLARE 
		-- Variables para el manejo de errores
		@vIdUsuario INT,
		-- Variables para el cursor
		@vIdModulo INT, @vAgregar INT, @vConsultar INT, @vEditar INT, @vEliminar INT, @vExportar INT, @vImportar INT, 
		--@vImprimir INT, @vCerrarOrden INT,
		-- Variables para guardar el ID de la accion
		@vIdAccionAgregar INT, @vIdAccionConsultar INT, @vIdAccionEditar INT, @vIdAccionEliminar INT, @vIdAccionExportar INT,
		@vIdAccionImportar INT, @vIdAccionImprimir INT, @vIdAccionCerrarOrden INT

	-- ============================================= --
	-- OBTENER el Id correspondiente a la acción
	-- ============================================= --
	SELECT @vIdAccionAgregar = IdAccion FROM Accion WHERE Nombre = 'Agregar'
	SELECT @vIdAccionConsultar = IdAccion FROM Accion WHERE Nombre = 'Consultar'
	SELECT @vIdAccionEditar = IdAccion FROM Accion WHERE Nombre = 'Editar'
	SELECT @vIdAccionEliminar = IdAccion FROM Accion WHERE Nombre = 'Eliminar'
	SELECT @vIdAccionExportar = IdAccion FROM Accion WHERE Nombre = 'Exportar'
	SELECT @vIdAccionImportar = IdAccion FROM Accion WHERE Nombre = 'Importar'
	--SELECT @vIdAccionImprimir = IdAccion FROM Accion WHERE Nombre = 'Imprimir'
	--SELECT @vIdAccionCerrarOrden = IdAccion FROM Accion WHERE Nombre = 'Cerrar Orden'

	-- ============================================= --
	-- OBTENER los módulos y los permisos que se tiene asignado el perfil en cada módulo
	-- ============================================= --
	SELECT IdPerfil, IdModulo, NombreModulo, TipoModulo
		, (CASE WHEN Agregar IS NOT NULL THEN 1 ELSE 0 END) AS Agregar
		, (CASE WHEN Consultar IS NOT NULL THEN 1 ELSE 0 END) AS Consultar
		, (CASE WHEN Editar IS NOT NULL THEN 1 ELSE 0 END) AS Editar
		, (CASE WHEN Eliminar IS NOT NULL THEN 1 ELSE 0 END) AS Eliminar
		, (CASE WHEN Exportar IS NOT NULL THEN 1 ELSE 0 END) AS Exportar
		, (CASE WHEN Importar IS NOT NULL THEN 1 ELSE 0 END) AS Importar
		--, (CASE WHEN Imprimir IS NOT NULL THEN 1 ELSE 0 END) AS Imprimir
		--, (CASE WHEN [Cerrar Orden] IS NOT NULL THEN 1 ELSE 0 END) AS [Cerrar Orden]
	-- Agregar a una tabla temporal
	INTO #TMP_PERFILMODULOPERMISO
	FROM
	(
		SELECT PMA.IdPerfil, M.IdModulo, A.IdAccion, A.Nombre AS NombrePermiso, M.Nombre AS NombreModulo, M.TipoModulo
		FROM PerfilModuloAccion PMA
		INNER JOIN Modulo M ON M.IdModulo = PMA.IdModulo 
		INNER JOIN Accion A ON PMA.IdAccion = A.IdAccion
		WHERE PMA.IdPerfil = @pIdPerfil
	) A
	-- PIVOT: CONVIERTE las filas de las ACCIONES  (Agregar, Consultar, Editar, Eliminar, Exportar, Importar, Imprimir, [Cerrar Orden]) 
	-- en columnas para cada MODULO, si no existe una acción para el módulo, su valor es NULL.
	PIVOT
	(
	  MAX(IdAccion)
	  FOR NombrePermiso IN (Agregar, Consultar, Editar, Eliminar, Exportar, Importar)--, Imprimir, [Cerrar Orden])
	) PIV;


	-- =========================================================================== --
	-- DEFINE CURSOR cursorUsuarios; Obtiene todos los IdUsuario que tiene asociado el IdPerfil.
	-- =========================================================================== --
	DECLARE cursorUsuarios CURSOR FOR 
	SELECT IdUsuario
	FROM Usuario 
	WHERE IdPerfil = @pIdPerfil
	-- FILTRO para obtener unicamente los IdUsuarios que no tienen los permisos personalizados, es decir,
	-- que sus permisos coinciden exactamente con lso permisos del perfil asignado.
	AND ISNULL(PerfilPersonalizado, 0) = 0 
	
	-- ABRIR el cursor cursorUsuarios
	OPEN cursorUsuarios
	FETCH NEXT FROM cursorUsuarios
	INTO @vIdUsuario
	-- INICIA el RECORRIDO del cursor por cada IdUsuario
	WHILE @@FETCH_STATUS = 0
	  BEGIN
		
		-- ============================================= --
		-- ELIMINAR los permisos que tiene asignados el usuario
		-- ============================================= --
		DELETE FROM Permiso WHERE IdUsuario = @vIdUsuario

		-- ============================================= --
		-- DEFINE CURSOR cursorModulos: Obtiene los datos de 
		-- ============================================= --
		DECLARE cursorModulos CURSOR FOR 
		SELECT IdModulo, Agregar, Consultar, Editar, Eliminar, Exportar, Importar--, Imprimir, [Cerrar Orden]
		FROM #TMP_PERFILMODULOPERMISO
		
		-- ABRIR el cursor cursorModulos
		OPEN cursorModulos
		FETCH NEXT FROM cursorModulos INTO @vIdModulo, @vAgregar, @vConsultar, @vEditar, @vEliminar, @vExportar, @vImportar--, @vImprimir, @vCerrarOrden
		WHILE @@FETCH_STATUS = 0
		  BEGIN
				
			IF @vAgregar = 1
			  BEGIN
				INSERT INTO Permiso(IdUsuario, IdModulo, IdAccion, FechaActualizado, IdUsuarioActualiza)
				VALUES (@vIdUsuario, @vIdModulo, @vIdAccionAgregar, GETDATE(), @pIdUsuarioActualiza);
			  END
			IF @vConsultar = 1
			  BEGIN
				INSERT INTO Permiso(IdUsuario, IdModulo, IdAccion, FechaActualizado, IdUsuarioActualiza)
				VALUES (@vIdUsuario, @vIdModulo, @vIdAccionConsultar, GETDATE(), @pIdUsuarioActualiza);
			  END
			IF @vEditar = 1
			  BEGIN
				INSERT INTO Permiso(IdUsuario, IdModulo, IdAccion, FechaActualizado, IdUsuarioActualiza)
				VALUES (@vIdUsuario, @vIdModulo, @vIdAccionEditar, GETDATE(), @pIdUsuarioActualiza);
			  END
			IF @vEliminar = 1
			  BEGIN
				INSERT INTO Permiso(IdUsuario, IdModulo, IdAccion, FechaActualizado, IdUsuarioActualiza)
				VALUES (@vIdUsuario, @vIdModulo, @vIdAccionEliminar, GETDATE(), @pIdUsuarioActualiza);
			  END
			IF @vExportar = 1
			  BEGIN
				INSERT INTO Permiso(IdUsuario, IdModulo, IdAccion, FechaActualizado, IdUsuarioActualiza)
				VALUES (@vIdUsuario, @vIdModulo, @vIdAccionExportar, GETDATE(), @pIdUsuarioActualiza);
			  END
			IF @vImportar = 1
			  BEGIN
				INSERT INTO Permiso(IdUsuario, IdModulo, IdAccion, FechaActualizado, IdUsuarioActualiza)
				VALUES (@vIdUsuario, @vIdModulo, @vIdAccionImportar, GETDATE(), @pIdUsuarioActualiza);
			  END
			--IF @vImprimir = 1
			--  BEGIN
			--	INSERT INTO Permiso(IdUsuario, IdModulo, IdAccion, FechaActualizado, IdUsuarioActualiza)
			--	VALUES (@vIdUsuario, @vIdModulo, @vIdAccionImprimir, GETDATE(), @pIdUsuarioActualiza);
			--  END
			--IF @vCerrarOrden = 1
			--  BEGIN
			--	INSERT INTO Permiso(IdUsuario, IdModulo, IdAccion, FechaActualizado, IdUsuarioActualiza)
			--	VALUES (@vIdUsuario, @vIdModulo, @vIdAccionCerrarOrden, GETDATE(), @pIdUsuarioActualiza);
			--  END

			-- OBTIENE el siguiente registro del CURSOR cursorModulos
			FETCH NEXT FROM cursorModulos INTO @vIdModulo, @vAgregar, @vConsultar, @vEditar, @vEliminar, @vExportar, @vImportar--, @vImprimir, @vCerrarOrden
		  END
		-- CERRAR el cursor cursorModulos
		CLOSE cursorModulos
		-- QUITAR referencia al cursor
		DEALLOCATE cursorModulos
		-- OBTIENE el siguiente registro del CURSOR cursorUsuarios
		FETCH NEXT FROM cursorUsuarios INTO @vIdUsuario
	  END
	-- CERRAR el cursor
	CLOSE cursorUsuarios
	-- QUITAR referencia al cursor
	DEALLOCATE cursorUsuarios
	
	-- ELIMINAR la tabla temporal
	DROP TABLE #TMP_PERFILMODULOPERMISO

  COMMIT TRAN
  END TRY
  BEGIN CATCH
	-- Si existe algun problema revertir todas las transacciones
	IF @@TRANCOUNT > 0
		ROLLBACK TRAN;
	-- Declarar variables para el manejo del error
	DECLARE @ErrMsg VARCHAR(MAX), @ErrSev INT, @ErrSt INT, @vFuncionalidad VARCHAR(50), @vIncidente VARCHAR(100), @vEsError BIT
	SET @ErrMsg = ERROR_MESSAGE()
	SET @ErrSev = ERROR_SEVERITY()
	SET @ErrSt = ERROR_STATE()		
	SET @vFuncionalidad = 'Agregar permiso.'
	SET @vIncidente = 'Error al insertar datos en la tabla Permisos.'
	SET @vEsError = 1
	-- Agregar el log a la tabla de movimientos.
	EXEC spLogMovimientoAgregar @vFuncionalidad, @vIncidente, @ErrMsg, @vEsError, @pIdUsuarioActualiza
	-- Enviar el mensaje de error
	RAISERROR(@ErrMsg,@ErrSev,@ErrSt)
  END CATCH
END
GO

-- GUARDAR el log del script creado
INSERT INTO LogActualizacion(NombreScript, Descripcion, FechaEjecucion)
VALUES('sp1_007_Crea_spPermisoAgregar.sql', 'Script que asocia los permisos (acciones) con un Modulo.', GETDATE())
GO