IF EXISTS(SELECT 1 FROM SYSOBJECTS WHERE NAME = 'fnCadenaATabla')
	DROP PROCEDURE [dbo].[fnCadenaATabla]
GO


-- ===============================================================================
-- Autor:		MARIO BLANCARTE AYALA
-- Fecha Creación: 30/05/2016
-- Description:	Función que recibe una cadena y un separador para renglones y devuelve una 
--				tabla con una sola columna y los datos en renglones
-- ===============================================================================
CREATE FUNCTION [dbo].[fnCadenaATabla]
(
    @p_Cadena NVARCHAR(4000), --Cadena a separar en renglones
    @p_caracterRenglon NCHAR(1) --Caracter separador de renglones
)
RETURNS TABLE 
AS
RETURN 
(
    WITH Split(stposrow,endposrow) 
    AS(
        SELECT 0 AS stposrow, CHARINDEX(@p_caracterRenglon,@p_Cadena) AS endpos
        UNION ALL
        SELECT endposrow+1, CHARINDEX(@p_caracterRenglon,@p_Cadena,endposrow+1)
            FROM Split
            WHERE endposrow > 0
    )
    SELECT 'Id' = ROW_NUMBER() OVER (ORDER BY (SELECT 1)),
        'Dato' = SUBSTRING(@p_Cadena,stposrow,COALESCE(NULLIF(endposrow,0),LEN(@p_Cadena)+1)-stposrow)
    FROM Split
)
GO

-- GUARDAR el log del script creado
INSERT INTO LogActualizacion(NombreScript, Descripcion, FechaEjecucion)
VALUES('sp1_001_10_Crea_fnCadenaATabla.sql', 'Script que CREA el registro en la tabla Produccion.', GETDATE())
GO