IF EXISTS(SELECT 1 FROM SYSOBJECTS WHERE NAME = 'spUsuarioModuloAccionConsultar')
	DROP PROCEDURE [dbo].[spUsuarioModuloAccionConsultar]
GO


-- =============================================
-- Author:	     Laura K. Centeno Ch.
-- Create date:  <23/04/2018>
-- Description:	 Script que obtiene todos los permisos de un usuario.
-- =============================================
CREATE PROCEDURE [dbo].[spUsuarioModuloAccionConsultar] 
@pIdUsuario INT

AS
BEGIN
	
	-- OBTENER los usuarios, modulos y acciones a los que tiene permiso
	SELECT P.IdUsuario, M.IdModulo, A.IdAccion, A.Nombre AS NombrePermiso, M.Nombre AS NombreModulo, M.IdModuloPadre, M.Archivo, 
		M.Orden, M.RibbonName, M.Icono, M.TipoModulo
	INTO #PERMISOS_TMP
	FROM Permiso P
	INNER JOIN Modulo M ON M.IdModulo = P.IdModulo 
	INNER JOIN Accion A ON P.IdAccion = A.IdAccion
	WHERE P.IdUsuario = @pIdUsuario

	SELECT IdUsuario, IdModulo, NombreModulo, IdModuloPadre, Archivo, Orden, RibbonName, Icono, TipoModulo, 
		CONVERT(bit,(CASE WHEN Agregar IS NOT NULL THEN 1 ELSE 0 END)) AS Agregar, 
		CONVERT(bit,(CASE WHEN Consultar IS NOT NULL THEN 1 ELSE 0 END)) AS Consultar, 
		CONVERT(bit,(CASE WHEN Editar IS NOT NULL THEN 1 ELSE 0 END)) AS Editar,
		CONVERT(bit,(CASE WHEN Eliminar IS NOT NULL THEN 1 ELSE 0 END)) AS Eliminar, 
		CONVERT(bit,(CASE WHEN Exportar IS NOT NULL THEN 1 ELSE 0 END)) AS Exportar, 
		CONVERT(bit,(CASE WHEN Importar IS NOT NULL THEN 1 ELSE 0 END)) AS Importar
		--CONVERT(bit,(CASE WHEN Imprimir IS NOT NULL THEN 1 ELSE 0 END)) AS Imprimir, 
		--CONVERT(bit,(CASE WHEN [Cerrar Orden] IS NOT NULL THEN 1 ELSE 0 END)) AS [Cerrar Orden]
	FROM
	(
		SELECT DISTINCT TMP.IdUsuario, M.IdModulo, A.IdAccion, A.Nombre AS NombrePermiso, M.Nombre AS NombreModulo,
			M.IdModuloPadre, M.Archivo, M.Orden, M.RibbonName, M.Icono, M.TipoModulo
		FROM #PERMISOS_TMP TMP 
		INNER JOIN Modulo M ON M.IdModulo = TMP.IdModuloPadre OR  M.IdModulo = TMP.IdModulo
		INNER JOIN Accion A ON A.IdAccion = TMP.IdAccion
	) A 
	PIVOT
	(
	  MAX(IdAccion)
	  FOR NombrePermiso IN (Agregar, Consultar, Editar, Eliminar, Exportar, Importar)--, Imprimir, [Cerrar Orden])
	) PIV;

	-- ELiminar tabla temporal
	DROP TABLE #PERMISOS_TMP

END
GO

-- GUARDAR el log del script creado
INSERT INTO LogActualizacion(NombreScript, Descripcion, FechaEjecucion)
VALUES('sp1_020_Crea_spUsuarioModuloAccionConsultar.sql', 'Script que obtiene todos los permisos de un usuario.', GETDATE())
GO