IF EXISTS(SELECT 1 FROM SYSOBJECTS WHERE NAME = 'spPerfilEditar')
	DROP PROCEDURE [dbo].[spPerfilEditar]
GO


-- =============================================
-- Author:	     Antonio Gonzalez
-- Create date:  07/06/2017
-- Description:	 Editar perfil
-- =============================================
CREATE PROCEDURE [dbo].[spPerfilEditar]
@pIdPerfil INT,
@pNombre VARCHAR(100),
@pClave VARCHAR(30),
@pIdUsuarioActualiza INT

AS
BEGIN
  BEGIN TRY
	BEGIN TRAN

	IF EXISTS (SELECT * FROM Perfil WHERE Nombre = @pNombre AND IdPerfil <> @pIdPerfil)
	  BEGIN
		SELECT 'EXISTE'
	  END
	ELSE
	  BEGIN
		UPDATE Perfil SET
		  Nombre = @pNombre,
		  Clave = @pClave,
		  IdUsuarioActualiza = @pIdUsuarioActualiza,
		  FechaActualizado = GETDATE()
		WHERE IdPerfil = @pIdPerfil
		SELECT 'OK'
	  END

	COMMIT TRAN
  END TRY
  BEGIN CATCH
	-- CANCELAR movimiento
	IF @@TRANCOUNT > 0
		ROLLBACK TRAN;
	-- DECLARAR variables
	DECLARE @ErrMsg VARCHAR(MAX), @ErrSev INT, @ErrSt INT, @vFuncionalidad VARCHAR(50), @vIncidente VARCHAR(100), @vEsError BIT
	SET @ErrMsg = ERROR_MESSAGE()
	SET @ErrSev = ERROR_SEVERITY()
	SET @ErrSt = ERROR_STATE()		
	SET @vFuncionalidad = 'Editar perfil.'
	SET @vIncidente = 'Error al actualziar datos en la tabla Perfil.'
	SET @vEsError = 1
	-- GUARDAR en el log de movimientos
	EXEC spLogMovimientoAgregar @vFuncionalidad, @vIncidente, @ErrMsg, @vEsError, @pIdUsuarioActualiza
	RAISERROR(@ErrMsg,@ErrSev,@ErrSt)
  END CATCH
END
GO

-- GUARDAR el log del script creado
INSERT INTO LogActualizacion(NombreScript, Descripcion, FechaEjecucion)
VALUES('sp1_013_Crea_spPerfilEditar.sql', 'Script que actualiza los valores de un perfil especifico.', GETDATE())
GO